@model EBCardsMVC.Models.Domain.Persona

@{
    ViewBag.Title = "Contacts details";
}

<div class="page-header">
    <h2>Contacts details</h2>
</div>

<div class="row">
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WebSite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WebSite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
