@model EBCardsMVC.Models.Domain.BusinessCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BusinessCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessDemo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessDemo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to profile", "Details", "Personas",null,null)
</p>
