@model EBCardsMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4></h4>
    <hr />
    <form class="form-horizontal">
        <fieldset>
            <legend>Change your account settings</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Password</label>
                    <div class="col-md-10">
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">External Logins</label>
                    <div class="col-md-10">
                        @Html.ActionLink("Manage", "ManageLogins")
                    </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Phone Number</label>
                <div class="col-md-10">
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </div>
                </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Two-Factor Authentication</label>
                <div class="col-md-10">
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
                </div>
            </div>
        </fieldset>
    </form>
</div>